@font-face {
font-family: "Neue_Pixels_Sans";
src: url("../neue-pixel-sans/NeuePixelSans.ttf");
}

iframe{
  display: none;
}

audio{
  display: none;
}

body {
  background-color: black;
  color: white;
  font-family:Neue_Pixels_Sans;
  text-align: center;
}
.container{
  width: 477px;
  margin: auto;
  text-align: left;
}

.gamebody{
  display: inline-block;
  width: 475px;
  height: auto;
  border: 2px dotted white;
  text-align: center;
}
.score{
  display: inline-block;
  margin-bottom: 5px;
}

#timer {
  display: inline-block;
  color: white;
  margin-top: 5px;
}

.scoreboard{
  margin-bottom: 30px;
  margin-top: 30px;
  display: inline-block;
  color: white;
  font-size: 20pt;
}

h1 {
  font-family:Helvetica;
  color: white;
  text-align: center;
}

.tile {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: top;
}

.wall {
  background-color: blue;
  border: 3px solid #000033;
}

.coin {
  background-color: yellow;
  border-radius: 50%;
  transform: scale(0.2);

}

#id {
  background-color: red;
}

.pacmanright {
  text-align: center;
  background-image: url(../images/pacman-right.gif);
}

.pacmanleft {
  text-align: center;
  background-image: url(../images/pacman-left.gif);
}

.pacmanup {
  text-align: center;
  background-image: url(../images/pacman-top.gif);
}

.pacmandown {
  text-align: center;
  background-image: url(../images/pacman-bottom.gif);
}

.ghost {
  background-image: url(../images/ghost.gif);
  width: 25px;
  height: 25px;
}
